<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="hubConfigurations">
      <section name="insertListenerConfiguration" type="SignalRBroadCastListener.HubConfiguration.HubConfigurationSection, 
               SignalRBroadCastListener" />
      <section name="updateListenerConfiguration" type="SignalRBroadCastListener.HubConfiguration.HubConfigurationSection, 
               SignalRBroadCastListener" />
      <section name="deleteListenerConfiguration" type="SignalRBroadCastListener.HubConfiguration.HubConfigurationSection,
               SignalRBroadCastListener" />
      <!-- 
         Define more hub sections
       -->
    </sectionGroup>
  </configSections>
  <hubConfigurations>
    <insertListenerConfiguration>
      <hubUrl url="http://localhost:35387/" />
      <hubName name="BroadcastHub" />
      <hubEventName eventName="onInserted" />
      <!-- <hubListeningIndicator isEnabled="false" /> --><!-- Default is enabled -->
    </insertListenerConfiguration>
    <updateListenerConfiguration>
      <hubUrl url="http://localhost:35387/" />
      <hubName name="BroadcastHub" />
      <hubEventName eventName="onUpdated" />
    </updateListenerConfiguration>
    <deleteListenerConfiguration>
      <hubUrl url="http://localhost:35387/" />
      <hubName name="BroadcastHub" />
      <hubEventName eventName="onDeleted" />
    </deleteListenerConfiguration>
  </hubConfigurations>
  <connectionStrings>
    <add name="SignalRBroadCasterDBConnectionstring" connectionString="Data Source=(local)\WONDE_LAPTOP;Initial Catalog=SignalRBroadCasterDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>